{% extends "base.html" %}
{% block head %}Login | D&D Character Generator{% endblock %}

{% block body %}

<form method="POST">
    <br>
    <h3 style="text-align: center;">Login</h3>

    <h6>Please Login or Sign Up to access The Generator</h6>

    <!-- Email Address -->
    <div class="form-group">
        <label for="email">Email Address</label>
        <input 
            type="email" 
            class="form-control" 
            id="email"
            name="email" 
            placeholder="Enter email"/>
        
    </div>
    <!-- Password 1 -->
    <div class="form-group">
        <label for="password1">Password</label>
        <input 
            type="password" 
            class="form-control" 
            id="password"
            name="password" 
            placeholder="Create password"/>
        
    </div>
    <br>
    <button type="submit" class="btn btn-primary" id="login">Login</button>

    <p style="font-style: oblique;">Don't have an account? Sign Up <a href="/sign_up">here</a></p>
</form>
{% endblock %}