{% extends "base.html" %}
{% block head %}Sign Up | D&D Character Generator{% endblock %}

{% block body %}
<form method="POST">
    <br>
    <h3 style="text-align: center;">Sign Up</h3>
    <!-- Email Address -->
    <div class="form-group">
        <label for="email">Email Address</label>
        <input 
            type="email" 
            class="form-control" 
            id="email"
            name="email" 
            placeholder="Enter email"/>
        
    </div>
    <!-- First Name -->
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input 
            type="text" 
            class="form-control" 
            id="firstName"
            name="firstName" 
            placeholder="Enter first name"/>
        
    </div>
    <!-- Password 1 -->
    <div class="form-group">
        <label for="password1">Password</label>
        <input 
            type="password" 
            class="form-control" 
            id="password1"
            name="password1" 
            placeholder="Create password"/>
        
    </div>
    <!-- Password Confirm -->
    <div class="form-group">
        <label for="password2">Confirm Password</label>
        <input 
            type="password" 
            class="form-control" 
            id="password2"
            name="password2" 
            placeholder="Confirm password"/>
        
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Create Account</button>
    <p style="font-style: oblique;">Already have an account? Log In <a href="/login">here</a></p>
</form>
{% endblock %}